body, html {
    height: 100%;
    min-height: 750px;
  }


.bg {
    background-image: url("images/confRoom3.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: inset 0px 0px 400px 40px rgb(70, 71, 74);
}

.mainPage{
    background-image: linear-gradient(to right,rgb(200, 202, 207) , rgb(70, 71, 74));
    background-size: auto;
    height: 100%;   
    box-shadow: inset 0px 0px 40px 4px rgb(70, 71, 74);
}

.errorMessage{
    margin: 0;
    text-align: center;

}

.title{
    text-align: center;
}


#addUser{
    display: inline;
    float: right;
}

.topButtons{
    height: 50px;
}

#searchInput{
    width: 30%;
    display: inline;
    float: left;
}

#typeReservation{
    width: 15%;
    display: inline;
    margin-left: 2.5%;
    margin-bottom: 0 !important;
}

#formUser{
    width: 90%;
}

#formRoom{
    width: 100%;
}

.userData{
    display: flex;
}

.userData .form-group input, .userData .form-group select{
    width: 70%;
}

.userData .form-group {
    width: 100%;
    margin-left: 5%;
}

.userData h3{
    width: 36%;
    margin-left: 2.5%;
}

.formUserButtons{
    width: 50%;
    margin-left: 31%;
    margin-right: auto;
}

#backButton{
    margin-bottom: 2%;
}

#modifyButton{
    margin-bottom: 2%;
    float: right;
}

#deleteButton{
    margin-bottom: 2%;
    margin-left: 2%;
    float: right;
}

.my-custom-scrollbar {
    position: relative;
    height: 50%;
    width: 100%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.roomForm{
    width: 100%;
}

.roomForm .form-group, .roomForm button, .roomForm #reset{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#usernameRes{
    margin-bottom: 3%;
}

.modal-body button{
    margin-top: 6%;
}

.form-control:not([type="button"]){
    background-color: rgb(230, 230, 230);
}

.form-control{
    margin-bottom: 0.5%;
}

.form-control:focus, #typeReservation:focus {   
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0 none;
}

select option::selection{
    background: black;
    color: black;
}


select option:checked{
    background: linear-gradient(black, black);
}

#typeReservation:focus{
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0 none;
}

