<% include ../partials/header %> 


<div class="container">
    <h1>Create new reservation!</h1>
    <div class="row">
        <div>
            <form action="/reservations" method="POST">
                <h3>You need to type username and password to confirm reservation!</h3>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="password" placeholder="password">
                </div>
                <h3>Choose room</h3>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Example multiple select</label>
                    <select multiple class="form-control" name="roomId">
                        <% rooms.forEach(function(room){ %>
                            <option><%= room.name %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="form-group">
                        <input class="form-control" type="text" name="topic" placeholder="reservation's topic">
                </div>

                <h3>Choose date</h3>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <input id="datetimepicker" type="text" name="start">
                                <input id="datetimepicker" type="text" name="end">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">
                        Submit!
                    </button>
                </div>
            </form>
            <a href="/reservations">Go back...</a>
        </div>
    </div>
</div>


<% include ../partials/footer %> 
