<% include ../partials/header %> 


<div class="container">
    <h1>Create new user!</h1>
    <div class="row">
        <div>
            <form action="/users" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="surname" placeholder="surname">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="phoneNumber" placeholder="phone number">
                </div>
                <h1>Address</h1>
                <div class="form-group">
                    <input class="form-control" type="text" name="country" placeholder="country">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="city" placeholder="city">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="number" placeholder="street">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="number" placeholder="number">
                </div>
                <h1>Job</h1>
                <div class="form-group">
                    <input class="form-control" type="text" name="companyName" placeholder="company name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="sector" placeholder="job title">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">
                        Create user!
                    </button>
                </div>
            </form>
            <a href="/rooms">Go back...</a>
        </div>
    </div>
</div>


<% include ../partials/footer %> 
