<% include ../partials/header %> 

<div class="container">
    <h1>Show page</h1>
    <div class="row">
        <div>
            <%= user.name %>
            <a href="/users">Go back...</a>
        </div>
    </div>
</div>

    


<% include ../partials/footer %> 